@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme {
    --breakpoint-xs: 475px;

    --color-primary: #00a99d;
    --color-primary-100: #c0fffb;

    --color-secondary: #ff9f00;

    --color-black: #1e1e1e;
    --color-black-100: #333333;
    --color-black-200: #141413;
    --color-black-300: #7d8087;

    --color-white: #ffffff;
    --color-white-100: #f7f7f7;

    --radius: 0.5rem;
    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --shadow-100: 2px 2px 0px 0px rgb(0 0 0);
    --shadow-200: 2px 2px 0px 2px rgb(0 0 0);
    --shadow-300: 2px 2px 0px 2px rgb(238 43 105);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-work: var(--font-work-sans);
}
@layer utilities {
    .green_container {
        @apply w-full bg-primary min-h-[530px] flex justify-center items-center flex-col py-10 px-6;
    }
    .heading {
        @apply uppercase max-w-5xl px-6 py-3 my-5 leading-[46px] bg-black font-work font-extrabold text-white text-[36px] text-center sm:text-[54px] sm:leading-[64px];
    }
    .sub-heading {
        @apply font-medium text-[20px] text-white max-w-2xl text-center break-words;
    }

    /* searchform */
    .search-form {
        @apply max-w-3xl w-full min-h-[80px] mt-8 px-5 bg-white border-[5px] border-black rounded-[80px] text-[24px]  flex flex-row items-center gap-5;
    }

    .search-input {
        @apply flex-1 font-bold placeholder:font-semibold placeholder:text-black-100 w-full h-auto outline-none;
    }

    .search-btn {
        @apply !size-[50px] !rounded-full !bg-black !flex !justify-center !items-center;
    }

    .pattern {
        background-image: linear-gradient(
                to right,
                transparent 49.5%,
                rgba(192, 255, 251, 1) 49.5%,
                transparent 50.5%
        );
        background-size: 5% 100%;
        background-position: center;
        background-repeat: repeat-x;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}